
.ResultContainer {
  border-radius: 0 !important;
  padding: 0 !important;
  overflow-y: scroll;
  height: 18em;
}

.SearchResult {
  padding: 2px 4px;
  white-space: nowrap;
  cursor: default;
  font-size: .95em;
  user-select: none;
}

.SearchResult:hover {
  background-color: rgba(127,127,127,0.1);
  outline: 1px solid rgba(127,127,127,0.2);
}

.Selected, .Selected:hover {
  background-color: #25d;
  color: white;
}


.SearchResultNone, .SearchResultNone:hover {
  outline: none;
  background-color: unset;
  color: #f44;
  font-weight: bold;
  cursor: default;
}