
.ResultContainer {
  border-radius: 0 !important;
  padding: 0 !important;
  overflow-y: scroll;
  height: 24em;
}

.SearchResult {
  padding: 2px 4px;
  white-space: nowrap;
  cursor: default;
  font-size: .95em;
  user-select: none;
}

.SearchResult:hover {
  background-color: rgba(127,127,127,0.2);
}

.Selected, .Selected:hover {
  background-color: var(--ui-highlight-bg, hsl(230,80%,60%));
  color: var(--ui-highlight-fg, white);
}

.SearchResultNone, .SearchResultNone:hover {
  outline: none;
  background-color: unset;
  color: #f44;
  font-weight: bold;
  cursor: default;
}