@font-face {
  font-family: 'CMU_Bright';
  font-style: normal;
  font-weight: normal;
  src: url('./cmunbmr-webfont.woff');
}

@font-face {
  font-family: 'CMU_Bright';
  font-style: normal;
  font-weight: bold;
  src: url('./cmunbsr-webfont.woff');
}

@font-face {
  font-family: 'CMU_Bright';
  font-style: italic;
  font-weight: normal;
  src: url('./cmunbmo-webfont.woff');
}

@font-face {
  font-family: 'CMU_Bright';
  font-style: italic;
  font-weight: bold;
  src: url('./cmunbso-webfont.woff');
}