
.document {
  font-family: var(--doc-font-family, serif);
  font-size: var(--doc-font-size);
  color: black;
}

.document blockquote {
  font-style: italic;
}

.document code, .document pre {
  font-family: var(--doc-font-family-monospace, monospace);
}

.document em > strong {
  text-decoration-line: underline;
}

/* TABLES */

.document table {
  border-collapse: collapse;
}

.document th {
  font-weight: bold;
}

.document th, .document td {
  border: 1px solid black;
  padding: 0.2em 0.5em;
}

.document {
  /*font-family: var(--doc-font-family, serif);
  font-size: var(--doc-font-size, 9pt);
  */
  counter-reset: question var(--doc-startnumber, 0);
  display: flex;
  flex-direction: column;
}

.blank-underline {
  display: inline-block;
  border-bottom: 1px solid black; 
  margin: 0 1mm;
}

/* .blank-underline-heading */

.answerblanks > tbody > tr > td {
  border: none;
}

.answerblanks > tbody > tr > td:first-child {
  text-align: right;
}

.answerblank {
  min-width: 1cm;
  min-height: 1cm;
  width: 1in;
  height: 1.2cm;
  border: 1px solid black;
}

.answerchoice-list {
  list-style: none;
  padding: 0;
}

.answerchoice-item {
  margin: 2mm 5mm;
}

.answerchoice-list-horizontal .answerchoice-item {
  display: inline;
}

.answerchoice-item:before {
  counter-increment: answerchoice 1;
  content: counter(answerchoice, lower-alpha) ') ';
  margin-right: 2mm;
}

.answerkey {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.1em;
  counter-reset: answerkey var(--doc-startnumber, 0);
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 90%;
}

.answerkey-item {
  margin: 1mm;
}

.answerkey-item::before {
  counter-increment: answerkey 1;
  content: counter(answerkey) '. ';
}

.page-header {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

.page-header td {
  border: none;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  padding-bottom: 3mm;
  text-align: left;
}

.page-header td:last-child {
  text-align: right;
  right: 0;
}

.page-header-empty {
  height: 5mm;
}

.page-content {
  display: grid;
  grid-template-columns: 47% 53%;
  column-gap: 3mm;
}

.page-content > * {
  grid-column: span 2;
}

.page-content .single-column {
  grid-column: span 1;
}

.question-number {
  display: flex;
  margin: 1em 0;
}

.question-number::before {
  counter-increment: question 1;
  content: counter(question) '. ';
  font-size: 1em;
  position: relative;
}

.question-wrapper {
  break-inside: avoid;
  counter-reset: answerchoice 0;
  width: 100%;
  margin-right: auto;
}

.question-layout {
  align-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
}

.question-layout-row {
  flex-direction: row;
  align-content: space-between;
}

.question-layout-column {
  flex-direction: column;
}

.question-wrapper > .question-layout {
  margin-left: 1em;
}

.question-area {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  justify-content: flex-start;
}

.question-area-diagram {
  margin: auto;
}
.question-area-answer {
  margin-top: auto;
  margin-bottom: auto;
}

