/*
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i|IBM+Plex+Serif:400,400i,700,700i');
@import url('https://fontlibrary.org/face/cmu-serif');
@import url('https://fontlibrary.org/face/cmu-concrete');
*/

@import './fonts/cmubright/cmubright.css';
@import './fonts/cmusansserif/cmusansserif.css';

@font-face {
  font-family: 'CMU_Serif';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/cmunrm-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/cmunbx-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/cmunti-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/cmunbi-webfont.woff');
}

@font-face {
  font-family: 'CMU_Concrete';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/cmunorm-webfont.woff');
}

@font-face {
  font-family: 'CMU_Concrete';
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/cmunoti-webfont.woff');
}

@font-face {
  font-family: 'CMU_Concrete';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/cmunobx-webfont.woff');
}

@font-face {
  font-family: 'CMU_Concrete';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/cmunobi-webfont.woff');
}