html, body { margin: 0 }
@page { margin: 0 }


/** For screen preview **/
@media screen {
  body { background: var(--ui-border-0, #ccc); }
  .page-outer {
    background: var(--ui-page, white);
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.5);
    margin: 5mm;
  }
  .page-overflowing {
    outline: 4px dotted red;
  }
}

@media print {
  html, body, #root {
    overflow: visible;
  }
  .document {
    position: absolute;
    overflow: visible;
  }
  .page-outer {
    page-break-inside: avoid;
    page-break-after: always;
    overflow: hidden;
  }
}