:root {
  --plot-path-color: #c07;
  --plot-asymptote-color: #777;
  --plot-axis-color: #222;
  --plot-grid-color: #89a;
  --plot-path-width: 0.5mm;
  --plot-axis-width: 0.4mm;
  --plot-grid-width: 0.2mm;
}

.plot-cartesian-plane {
  min-height: 0.5in;
  min-width: 0.5in;
}

.plot-path {
  stroke: var(--plot-path-color);
  stroke-width: var(--plot-path-width);
  stroke-linejoin: round;
  fill: none;
  stroke-linecap: round;
}

.plot-asymptote {
  stroke: var(--plot-asymptote-color);
  stroke-width: calc(1.5 * var(--plot-path-width));
  stroke-dasharray: 2mm 1mm;
  stroke-linecap: none;
}

.plot-point {
  stroke: var(--plot-path-color);
  fill: var(--plot-path-color);
  stroke-width: calc(3 * var(--plot-path-width));
  stroke-linecap: round;
}

.plot-hole-exterior {
  stroke: var(--plot-path-color);
  fill: var(--plot-path-color);
  stroke-width: calc(4 * var(--plot-path-width));
  stroke-linecap: round;
}

.plot-hole-interior {
  stroke-width: var(--plot-path-width);
  stroke-width: calc(2 * var(--plot-path-width));;
  stroke: white;
  fill: white;
  stroke-linecap: round;
}

.plot-grid-axis {
  stroke: var(--plot-axis-color);
  stroke-width: var(--plot-axis-width);
  stroke-opacity: 1;
  stroke-linecap: square;
}

.plot-grid-line {
  stroke: var(--plot-grid-color); 
	stroke-width: var(--plot-grid-width);
	stroke-opacity: 0.9;
}

.plot-region-shaded {
  fill: var(--plot-path-color);
  fill-opacity: 0.2;
}