@import './fonts.css';
@import './variables.css';
@import './katex.css';
@import './document.css';
@import './debugview.css';
@import './page.css';
@import './themes.css';


body {
  font-family: var(--ui-font-family, sans-serif);
  font-size: var(--ui-font-size, 3mm);
  color: black;
  user-select: none;
}

input[type="number"] {
  max-width: 3em;
}

textarea {
  font-family: var(--ui-font-family-monospace, monospace);
  font-size: 10pt;
}

pre, code {
  font-family: var(--ui-font-family-monospace, monospace);
}

.editable {
  margin: 0;
  padding: 0;
}

.editable > *:hover {
  outline: 3px dotted var(--edit-color-light, hsl(150,60%,80%));
  background-color: var(--edit-color-faded, hsl(150,60%,98%));
}

.preview-area {
  border: 1px solid var(--ui-border-1, #ccc);
  background-color: var(--ui-page, white);
  padding: 5mm;
  border-radius: 0px;
  font-size: 1.1em;
  max-width: 11in;
}

.text-preview-output > * {
  margin: 0;
}

.text-preview-input > textarea {
  min-width: 4in;
  padding: 2mm;
  margin: 2px;
  min-height: 4em;
}

.text-preview-output {
  border: 1px solid var(--ui-border-1, #ccc);
  background-color: var(--ui-page, white);
  padding: 2mm;
  width: fit-content;
  border-radius: 0px;
  margin: 2px;
}