@import './fonts.global.css';
@import './variables.global.css';
@import './page.global.css';
@import './katex.global.css';
@import './document.global.css';
@import './plots.global.css';


body {
  font-family: var(--ui-font-family, sans-serif);
}

button, input, select, textarea {
  border-radius: 4px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  color: black;
  font-family: var(--ui-font-family, sans-serif);
  margin: 1px;
  font-size: 0.9rem;
}

input {
  padding-left: 5px;
}

textarea {
  font-family: var(--ui-font-family-monospace, monospace);
  font-size: 1.1em;
}

button:hover, input:hover, select:hover, textarea:hover {
  color: black;
  border-color: #999;
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
  color: #888;
  border-color: #ccc;
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

button:active, input:active, select:active, textarea:active {
  outline: none;
}

button:hover {
  background-image: linear-gradient(white, 50%, #eee);
}

button:active {
  color: white;
  border-color: black;
  background-image: linear-gradient(0deg, #27f, 50%, #05f);
}

button, button:disabled {
  background-image: linear-gradient(white, 50%, #f5f5f5);
}

pre, code {
  font-family: var(--ui-font-family-monospace, monospace);
}

.preview-area {
  border: 1px solid #ccc;
  background-color: white;
  padding: 1cm;
}



