*[ui-theme="light"] {  
  --ui-page: white;
  
  --ui-bg-0: white;
  --ui-bg-1: #fafafa;
  --ui-bg-2: #f5f5f5;
  
  --ui-fg-0: #555;
  --ui-fg-1: black;
  --ui-fg-2: black;
  
  --ui-border-0: #ddd;
  --ui-border-1: #ccc;
  --ui-border-2: #888;
  
  --ui-gradient-v-1: linear-gradient(white, 50%, #f5f5f5);
  --ui-gradient-v-2: linear-gradient(white, 50%, #eeeeee);
  --ui-gradient-v-x: linear-gradient(#555, 50%, #aaa);

  --edit-color-dark: hsl(150,50%,50%);
  --edit-color-light: hsl(150,60%,80%);
  --edit-color-faded: hsl(150,60%,98%);
}

*[ui-theme="dark"] {
  --ui-bg-0: #444;
  --ui-bg-1: #333;
  --ui-bg-2: #222;
  
  --ui-fg-0: #999;
  --ui-fg-1: #aaa;
  --ui-fg-2: #ccc;
  
  --ui-border-0: #333;
  --ui-border-1: #444;
  --ui-border-2: #555;
  
  --ui-gradient-v-1: linear-gradient(#333, 50%, #222);
  --ui-gradient-v-2: linear-gradient(#444, 50%, #222);
  --ui-gradient-v-x: linear-gradient(#111, 50%, #333);

  --ui-page: #e5e1d5;

  --edit-color-dark: rgba(145,195,0,0.7);
  --edit-color-light: rgba(55,150,0,0.5);
  --edit-color-faded: rgba(55,150,0,0.05);  
}

*[ui-theme="panther"] {
  --ui-bg-0: #111;
  --ui-bg-1: #222;
  --ui-bg-2: #333;
  
  --ui-fg-0: #c40;
  --ui-fg-1: #e50;
  --ui-fg-2: #f60;
  
  --ui-border-0: #555;
  --ui-border-1: #555;
  --ui-border-2: #555;
  
  --ui-gradient-v-1: linear-gradient(#222, 50%, #000);
  --ui-gradient-v-2: linear-gradient(#222, 50%, #111);
  --ui-gradient-v-x: linear-gradient(#111, 50%, #222);

  --ui-page: #e5e1d5;

  --edit-color-dark: #c40;  
  --edit-color-light: #f60;
  --edit-color-faded: rgba(255, 110, 0, 0.1)
}

*[ui-theme="contrast"] {
  --ui-page: white;
  
  --ui-bg-0: white;
  --ui-bg-1: white;
  --ui-bg-2: white;
  
  --ui-fg-0: black;
  --ui-fg-1: black;
  --ui-fg-2: black;
  
  --ui-border-0: var(--ui-fg-0);
  --ui-border-1: var(--ui-fg-0);
  --ui-border-2: gray;
  
  --ui-gradient-v-1: linear-gradient(var(--ui-bg-0), 50%, var(--ui-bg-2));
  --ui-gradient-v-2: linear-gradient(var(--ui-bg-0), 50%, var(--ui-bg-2));
  --ui-gradient-v-x: linear-gradient(var(--ui-border-2), 50%, var(--ui-border-1));

  --edit-color-dark: hsl(230,100%,30%);
  --edit-color-light: hsl(130,100%,30%);
  --edit-color-faded: hsl(130,100%,99%);
  --ui-font-size: 4mm;
}

body[ui-theme] {
  color: var(--ui-fg-1, black);
}

*[ui-theme] input[type="checkbox"] {
  appearance: checkbox;
}

*[ui-theme] button, 
*[ui-theme] input, 
*[ui-theme] select, 
*[ui-theme] textarea,
.ui-input {
  padding: 1px 5px;
  margin: 1px;
  border-radius: 4px;
  border-color: var(--ui-border-1, #ccc);
  border-width: 1px;
  border-style: solid;
  background-color: var(--ui-bg-0, white);
  color: var(--ui-fg-1, black);
  font-family: var(--ui-font-family, sans-serif);
  font-size: var(--ui-font-size, 3mm);
}

*[ui-theme] textarea {
  font-family: var(--ui-font-family-monospace, monospace);
}

*[ui-theme] button:hover, 
*[ui-theme] input:hover, 
*[ui-theme] select:hover, 
*[ui-theme] textarea:hover {
  color: var(--ui-fg-2, black);
  border-color: var(--ui-border-2, #999);
}

*[ui-theme] button:disabled, 
*[ui-theme] input:disabled, 
*[ui-theme] select:disabled, 
*[ui-theme] textarea:disabled {
  color: #888;
  border-color: var(--ui-border-1, #ccc);
}

*[ui-theme] button:focus, 
*[ui-theme] input:focus, 
*[ui-theme] select:focus, 
*[ui-theme] textarea:focus {
  outline: none;
}

*[ui-theme] input[type="text"]:focus, 
*[ui-theme] textarea:focus {
  border-color: var(--ui-border-2, #ccc);
  box-shadow: 0 0 5px var(--edit-color-dark);
}

*[ui-theme] button:active, 
*[ui-theme] input:active, 
*[ui-theme] select:active, 
*[ui-theme] textarea:active {
  outline: none;
}

*[ui-theme] button:hover {
  background-image: var(--ui-gradient-v-2, linear-gradient(white, 50%, #eee));
}

*[ui-theme] button:active {
  color: var(--ui-page, white);
  border-color: var(--ui-border-2, black);
  background-image: var(--ui-gradient-v-x, linear-gradient(0deg, #27f, 50%, #05f));
}

*[ui-theme] button, 
*[ui-theme] button:disabled {
  background-image: var(--ui-gradient-v-1, linear-gradient(white, 50%, #f5f5f5));
}

*[ui-theme] select:active {
  border: none;
  outline: none;
}