:root {
  --ui-font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    'Open Sans', Ubuntu, Helvetica, Arial, sans-serif;
  --ui-font-family-monospace: "Inconsolata", "Consolas", "Menlo", "Courier", 
    'katex_typewriter', "Ubuntu Mono", "Roboto Mono", monospace;
  --ui-font-size: 9pt;
}