
:root {
  --doc-font-family: serif;
  --doc-font-size: 9pt;
  --doc-math-font-size: .9em;
  --doc-math-font-weight: regular;

  --ui-font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 
    'Source Sans Pro', 'Open Sans', sans-serif;
  --ui-font-family-monospace: "Inconsolata", "Courier", "Consolas", 
    "Menlo", "Ubuntu Mono", "Roboto Mono", monospace;
  --ui-font-size: 9pt;

  --edit-color-dark: hsl(150,70%,30%);
  --edit-color-light: hsl(150,60%,80%);
  --edit-color-faded: hsl(150,60%,98%);
}
