:root {
  --vg-shaded-region-opacity: 0.2;
  --vg-asymptote-color: #777777;
  --vg-axis-color: #222222;
  --vg-grid-color: #888888;
  --vg-axis-width: 0.3mm;
  --vg-grid-width: 0.1mm;
  --vg-asymptote-width: 0.7mm;


  --vg-plot-path-color: #ff2600;
  --vg-plot-2-path-color: #0044cc;
  --vg-plot-path-width: 0.5mm;

  --vg-geom-path-color: #009955;
  --vg-geom-path-width: 0.5mm;
}


/*
.vg-cartesian-plane {}
*/

.vg-path {
  stroke: var(--vg-path-color);
  stroke-width: var(--vg-path-width);
  stroke-linecap: var(--vg-path-linecap);
  stroke-linejoin: var(--vg-path-linejoin, round);
  fill: none;
}

.vg-scatterplot {
  marker-start: var(--vg-marker-point);
  marker-mid: var(--vg-marker-point);
  marker-end: var(--vg-marker-point);
}

.vg-segment {
  marker-start: var(--vg-marker-point);
  marker-end: var(--vg-marker-point);
}

.vg-ray {
  marker-start: var(--vg-marker-point);
  marker-end: var(--vg-marker-arrow);
}

.vg-line {
  marker-start: var(--vg-marker-arrow);
  marker-end: var(--vg-marker-arrow);
}

.vg-asymptote {
  stroke: var(--vg-asymptote-color);
  stroke-width: var(--vg-asymptote-width);
  stroke-dasharray: 2mm 1mm;
  stroke-linecap: none;
  --vg-path-linecap: none;
}

.vg-path-marker-mid-point { marker-mid: var(--vg-marker-point) }
.vg-path-marker-mid-arrow { marker-mid: var(--vg-marker-arrow) }
.vg-path-marker-mid-bigpoint { marker-mid: var(--vg-marker-bigpoint) }
.vg-path-marker-end-point { marker-end: var(--vg-marker-point) }
.vg-path-marker-end-arrow { marker-end: var(--vg-marker-arrow) }
.vg-path-marker-end-bigpoint { marker-end: var(--vg-marker-bigpoint) }
.vg-path-marker-start-point { marker-start: var(--vg-marker-point) }
.vg-path-marker-start-arrow { marker-start: var(--vg-marker-arrow) }
.vg-path-marker-start-bigpoint { marker-start: var(--vg-marker-bigpoint) }

.vg-point {
  stroke: var(--vg-path-color);
  stroke-width: var(--vg-path-width);
  marker-start: var(--vg-marker-bigpoint);
}

.vg-hole {
  stroke: var(--vg-path-color);
  stroke-width: var(--vg-path-width);
  marker-start: var(--vg-marker-hole);
}

/*
.vg-path-marker {
  stroke: var(--vg-path-color);
  fill: var(--vg-path-color);
}
*/



.vg-axis {
  --vg-marker-point: url(#vg-axis-point);
  --vg-marker-bigpoint: url(#vg-axis-bigpoint);
  --vg-marker-arrow: url(#vg-axis-arrow);
  --vg-marker-hole: url(#vg-axis-hole);
  stroke: var(--vg-axis-color);
  stroke-width: var(--vg-axis-width);
  stroke-opacity: 1;
  stroke-linecap: none;  
}

.vg-axis-neg {
  marker-end: none;
}

.vg-axis-pos {
  marker-end: var(--vg-marker-arrow);
  stroke-linecap: round;
}

.vg-grid {
  --vg-path-color: var(--vg-grid-color);
  --vg-path-width: var(--vg-grid-width);
  stroke-linecap: square;
}

.vg-shaded-region {
  fill: var(--vg-path-color);
  fill-opacity: var(--vg-shaded-region-opacity);
}

.vg-polygon {
  marker-start: var(--vg-marker-point);
  marker-mid: var(--vg-marker-point);
  marker-end: var(--vg-marker-point);
}

/* STYLES */

.vg-marker-axis { fill: var(--vg-axis-color) }
.vg-marker-plot { fill: var(--vg-plot-path-color) }
.vg-marker-plot-2 { fill: var(--vg-plot-2-path-color) }
.vg-marker-geom { fill: var(--vg-geom-path-color) }
.vg-marker-hole { fill: white }

.vg-style-xyplot {
  --vg-path-color: var(--vg-plot-path-color);
  --vg-path-width: var(--vg-plot-path-width);
  --vg-marker-point: url(#vg-plot-point);
  --vg-marker-bigpoint: url(#vg-plot-bigpoint);
  --vg-marker-arrow: url(#vg-plot-arrow);
  --vg-marker-hole: url(#vg-plot-hole);
}

.vg-style-xyplot2 {
  --vg-path-color: var(--vg-plot-2-path-color);
  --vg-path-width: var(--vg-plot-path-width);
  --vg-marker-point: url(#vg-plot-2-point);
  --vg-marker-bigpoint: url(#vg-plot-2-bigpoint);
  --vg-marker-arrow: url(#vg-plot-2-arrow);
  --vg-marker-hole: url(#vg-plot-2-hole);
}

.vg-style-geom {
  --vg-path-color: var(--vg-geom-path-color);
  --vg-path-width: var(--vg-geom-path-width);
  --vg-marker-point: url(#vg-geom-point);
  --vg-marker-bigpoint: url(#vg-geom-bigpoint);
  --vg-marker-arrow: url(#vg-geom-arrow);
  --vg-marker-hole: url(#vg-geom-hole);
}

