
.SettingPage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
  display: grid;
  grid-template-areas:
    'left settings';
  grid-template-columns: auto 1fr;
}

.Title {
  font-size: 1.2em;
}

.SettingSection {
  grid-area: settings;
  margin: 1em;
}

.LeftBar {
  grid-area: left;
  border-right: 1px solid rgba(0,0,0,0.2);
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
  padding: 2mm;
}

.LeftBar > div {
  margin: 0 auto 10mm auto;
}

.NavArea {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

.NavButton {
  text-align: center;
  border: none;
  color: var(--ui-border-2, #aaaaaa);
  background-image: none;
  background-color: none;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  margin: 1mm 0;
  padding: 0.2em 0.9em;
  cursor: default;
  user-select: none;
}

.NavButton:hover {
  color: var(--ui-fg-0, #555555);
}

.NavButton[status="active"] {
  color: var(--ui-fg-1, #222222);
}