.SettingsPage {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 9pt;
}


.Modal {
  position: absolute;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  outline: none;
  padding: 1rem;
  border: 1px solid rgba(0,0,0,0.5);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100,100,100,0.3);
}