@font-face {
  font-family: 'CMU_Serif';
  font-style: normal;
  font-weight: normal;
  src: url('./cmunrm-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: normal;
  font-weight: bold;
  src: url('./cmunbx-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: italic;
  font-weight: normal;
  src: url('./cmunti-webfont.woff');
}

@font-face {
  font-family: 'CMU_Serif';
  font-style: italic;
  font-weight: bold;
  src: url('./cmunbi-webfont.woff');
}